.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  outline: none;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 85%);
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200000;
}

.dialog {
  border: 2px solid transparent;
  border-image: linear-gradient(to top, #614a1f 0, #463714 5px, #463714 100%) 1
    stretch;
  position: relative;
  background: #010a13;
  box-shadow: 0 0 0 1px rgba(1, 10, 19, 0.48);
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  .contentWrapper {
    .content {
      padding: 18px 18px 48px 18px;
      width: 296px;
      text-align: center;
    }

    .buttonGroup {
      position: absolute;
      bottom: -2px;
      width: 100%;
      justify-content: center;
    }
  }

  .border {
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: flex;
      box-sizing: border-box;
      left: 12px;
      width: calc(100% - 24px);
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-image-width: 4px 4px 0 4px;
      border-image-slice: 4 4 0 4;
      border-image-repeat: stretch;
    }

    &::before {
      top: -6px;
      border-image-source: url('~static/lcu/sub-border-secondary-horizontal.png');
    }

    &::after {
      bottom: -6px;
      border-image-source: url('~static/lcu/sub-border-primary-horizontal.png');
    }
  }
}
