.editor {
  width: 40%;

  .primaryBindings {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .category {
        .label {
          margin-bottom: 5px;
        }
      }
    }
  }
}
