@import '~react-hextech/lib/theme.scss';

.app,
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  overflow: hidden;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 73px;
}

.titleBar {
  display: flex;
  width: 100%;
  -webkit-app-region: drag;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #785a28;
  padding-right: 15px;
  padding-top: 5px;
  height: 30px;
  line-height: 0;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $gold;

    .icon {
      background-image: url('~static/icons/dark-binding@2x.png');
      height: 20px;
      width: 20px;
      background-position: center;
      background-size: 200%;
      margin: 0 5px;
    }
  }

  .button {
    cursor: pointer;
    height: 15px;
    width: 15px;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: #a09b8c;
    -webkit-app-region: no-drag;
    border: 0;

    &:hover {
      background-color: lighten(#a09b8c, 40%);
    }
  }

  .minimize {
    -webkit-mask-image: url('~static/lcu/minimize.png');
    margin-right: 15px;
  }

  .close {
    -webkit-mask-image: url('~static/lcu/close.svg');
    height: 10px;
    width: 10px;
  }
}
