@import '~react-hextech/lib/theme.scss';

.championSelector {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin-left: 10px;

  .separator,
  .options {
    padding: 8px 0;
  }

  .separator {
    border-bottom: 2px solid rgba(155, 125, 35, 0.5);
    margin-bottom: 12px;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .scroller {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      list-style: none;
      flex: 1;

      &.dimmed {
        opacity: 0.5;
      }
    }
  }
}
