@import '~react-hextech/lib/theme.scss';

$lcu-gold-border-gradient: linear-gradient(to bottom, #f0e6d2, #c99c3d);
$lcu-gold-border-gradient-active: linear-gradient(to top, #f0e6d2, #c99c3d);

.champion-tile {
  display: block;
  width: 10.9%;
  margin: 0 0 35px 0;
  outline: 0;
  will-change: transform;

  .frame {
    position: relative;
    width: 70px;
    margin: 0 auto 0.5em;
    padding: 2px;
    box-shadow: 0 0 0 1px #010913;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      border: 2px solid #010913;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 0 1px #010913;
      background: $bg-dark;
      z-index: -1;
    }

    &:hover::after {
      background: $lcu-gold-border-gradient;
    }

    &:active::after {
      background: $lcu-gold-border-gradient-active;
    }

    &:hover,
    &:active {
      filter: brightness(1.2);
    }
  }

  .background,
  .placeholder {
    background-size: 77px;
    background-position: center;
    background-repeat: no-repeat;

    img {
      display: block;
    }
  }

  .text {
    font-family: 'Spiegel';
    line-height: 18px;
    letter-spacing: 0.075em;
    text-align: center;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;

    .name {
      font-size: 12px;
      color: $text-light;
    }
  }
}
